<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  	WilliamsWarn Beer Thinking is a place for WilliamsWarn brewers to meet and share recipes and 
  	experiences in using the WilliamsWarn Personal Brewery
</p>