<% provide(:title, 'Help') %>
<h1>Help</h1>
<h4>Note that this documentation is temporary. Video instructions will be provided for the first General Release </h4>
<p>
 	The Beer Thinkers Community Database is comprised of three basic elements. Beer Thinkers, Recipes and Brews.
</p>
<p>
 	Beer Thinkers can create and record Recipes and Brews.
</p>
 	A Brew may only be created based on an existing recipe. This can be a recipe published by a fellow Beer Thinker or yourself.
<p>
 	You do not need to create a recipe to start recording a Brew. For the first few brews for example, a Beer Thinker will likely be
 	just recording Brews based on existing recipes recorded by Ian Williams (such as Summer Ale).
 </p>
<p>
  As a Beer Thinker gets more experienced, the transition to recipe creation is natural.
</p>
<br></br>
<h3>Record a Brew</h3>

	<p> In order to record a new brew, select Brews->Record New Brew from the main menu. Or just press the blue button next to My Brews on your Home page. </p>
	<p> This will take you to a screen to search for recipes to brew from. You can use the various filters in the drop down lists to refine your search based on Brewing Method (for example Williams Warn Kits), Beer Style (for example IPA), or Beer Thinker (for example, Ian Williams).</P>
	<p>Once you select a recipe you will be taken to a page that displays the details of that recipe so you can double check it is the one you want. If you want to make a Brew based on that recipe just click the blue "Record Brew" button.</P>
	<p>A new Brew will now be created and displayed. You will see the recipe summary details at the top for your reference. Scrolling down you will see various fields that can be populated with observations as the brew progresses.</p>
	<p> Also notice the calendar icon at the top of the screen. By clicking in this field you will bring up a calendar to allow you to pick the start date for the brew.</p>
	<h4>Tracking Daily Fermentation Data</h4>
	As the Brew progresses you can track the variables of Specific Gravity, Temperature and Pressure, as well as any additional notes and observations. Pressing the blue "Add New Fermentation Data" button will display a set of fields to record this data in. </p>
	<p>There is no limit to how many of these observations you can make, just keep adding new fermentation data sections by pressing the blue button. Initially you may just want to track data on a daily basis as the brew progresses</p>
	<p>Once you have finished entering all data for the day you can scroll down and press the green "Save Brew" button at the bottom of the page</p>
	<p>This will bring you back to your home page where you will be able to see the new Brew listed. Selecting the Brew Name link will take you to a read-only version of your Brew, which displays your fermentation data in a handy graph.</p>
	<p>After the brew is finished you should populate the other fields such as carbonation, clarity, colour, taste score etc.</p>
	<p>You can also upload a picture of the brew. In time this will be extended to allow several pictures so you can record the activity in the sediment bottle etc.</p>

<br></br>
<h3>Record a Recipe</h3>
<p>In order to create a new recipe, select Recipes->Create New Recipe from the main menu. Or just press the blue button next to My Recipes on your Home page. </p>
<p>This will take you to a screen where you can begin constructing your recipe.</p>
<p>You first need to select from the drop down list what brewing method you are using (Williams Warn Kits, Extract, All-Grain, etc).
<p>You can then select the overall beverage style. This is useful if you are not interested in making a recipe that adheres to a particular BJCP style. Perhaps you are just making a generic ale; in which case you can just select the "Ale / Porter / Stout" category.
<p>The next fields are to be populated if you are in fact creating a recipe to a particular BJCP style. These fields allow you to, for example select "English Pale Ale" and then "8A Standard / Ordinary Bitter". You can see detailed descriptions of these categories and styles by clicking on the BJCP Styles menu item in the Main Menu. This will open the BJCP website in a new browser tab.</p>
<p>The next fields are for Original and Estimated Final Gravities. Populating these fields will cause the Estimated % Alcohol by Volume field to be automatically calculated.</p>
<p>The next fields are for entering the bitterness in IBU and the colour and volume.</p>
<p>You then need to enter the fermentables, hops, yeast, and any other ingredients required to make your recipe. You will see sections for Extracts, Adjuncts, Grains, Hops, Yeast, etc. These are populated one at a time by pressing the respective blue buttons to add each section. For example if you are using a WW extract kit, you would press the "Add WW Extract" button which will open a section for you to enter the extract data.<p>
<p>Similarly if you are using WW DME in you recipe, you would add this by pressing the "Add WW Adjunct" button and then enter the weight of DME being used.</p>
<p>The hops section allows you to enter the characteristics of every hop addition in your recipe. If you press the blue "Add a hop" button you will be able to add the alpha acid percentage, whether the hops are boiled, steeped or used in dry-hopping, what sort of liquid the hops are added to and for how long, etc. There is no limit to the amount of hops you can add.
<p>The grains section allows you to add grains to your recipe. Grains can be mashed or steeped and you enter the grain data in this section (colour, weight, water volume etc). The "Initial Rest Temperature" field is where you add the water temperature the grain is immersed in. If you are doing an all grain brew, this would be the saccharification rest time.</p>
<p>Once you have added all the recipe data you can save it by pressing the green "Save recipe" button at the bottom of the form. Notice the radio buttons with the "Publish to Beer Thinkers Community" label. This is to allow you to control who sees your recipe. If you are working on a recipe over a period of time you may not want to expose it to the community until it is finshed and tested. Once you are happy with the recipe you can change the radio button to "Yes" so that the recipe will show up in searches that any Beer Thinker may make. 