<div class="center hero-unit">
  <h1>
  	WilliamsWarn Beer Thinking
  </h1>

<h2>A community of passionate WilliamsWarn brewers</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>