<div class="center hero-unit">
  <h1>
  	WilliamsWarn Beer Thinkers
  </h1>

<h2>The community of passionate WilliamsWarn Personal Brewers</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
 
</div>