<%= javascript_include_tag "brew" %>
<% provide(:title, 'Edit a Brew') %>
<h1>Edit a Brew</h1>
<div class="row">
  <%= simple_nested_form_for @brew do |f| %>
    <%= render 'brew', f: f %>
  <% end %>
</div>
