<%# provide(:title, @recipe.recipe_code) %>
 
  <div class="row">
    <%= simple_nested_form_for @recipe do |f| %>
    <div class="form-horizontal">
    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'recipe_data', f: f %>

    <% end %>
  </div>

</div>
</div>

