<% provide(:title, 'Beer Thinkers') %>
<h1>The Beer Thinkers</h1>


<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>

