<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">WilliamsWarn Beer Thinking</a>
	</small>
	<nav>
		<ul>
			<li><a href="http://www.williamswarn.com/">News</a></li>
		</ul>
	</nav>
</footer>
			
